body { background: #bd5f9c; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 57px; display: flex; }
.block-config-0 { color: #cf8400; font-size: 21px; margin-bottom: 5px; }
.block-user-1 { color: #a3e814; font-size: 19px; margin-bottom: 5px; }
.block-helper-2 { color: #9fca2a; font-size: 16px; margin-bottom: 5px; }
.block-auth-3 { color: #61da47; font-size: 15px; margin-bottom: 5px; }
.block-helper-4 { color: #38dcf7; font-size: 19px; margin-bottom: 5px; }